<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="utf-8">
    <title>🚪🔒🛑⏳ Geen Feest⏳ 🛑🙄😣🤯😠🦂🐙🦅☝👎⚰</title>
    <style>

    </style>
  </head>
  <body>
    <br>    <br>
    <h1>DEUR DICHT</h1>
    <br>    <br>
    <p>Ja zeg, er is hier nog geen feestje, dit is niet het moment om langs te komen</p>
    <br>    <br>

    <h2>Wanneer wel?</h2>
    <i><p id="demo"></p></i>
    <ul class="details">
      <li>📅 Datum: 18 april 2020 📅</li>
      <li>🕘 Starttijd: 21.00 🕘</li>
      <li>🚩 Locatie: hier🚩</li>
      <li>👗 Dresscode: favoriete film of iets anders 👗</li>
      <li>🏺 Kom met drank! 🏺</li>
      <li>🎊</li>
      <li>💻</li>
      <li>💃</li>
      <li>🎵</li>
    </ul>
    </body>
