<h2>Punten geven</h2>
<ol>
  <li>
<mat-form-field>
  <mat-label>Wie?</mat-label>
  <mat-select multiple [formControl]="aanwieFormControl">
    <mat-option *ngFor="let user of users$ | async" [value]="user">{{ user.name }}</mat-option>
  </mat-select>
</mat-form-field>
</li>
<li>
<mat-form-field>
  <mat-label>Hoeveel?</mat-label>
  <input matInput type="number" [formControl]="hoeveelFormControl">
</mat-form-field>
</li>
<li>
<mat-form-field>
  <mat-label>Waarom?</mat-label>
  <textarea matInput [formControl]="waaromFormControl"></textarea>
</mat-form-field>
</li>
<li><button mat-button (click)="geefPuntenNu()">Geef Punten!</button></li>
</ol>
<hr>
<h2>Punten-overzicht</h2>
<ul>
  <li *ngFor="let user of users$ | async | reverse">
    <b>{{ user.name }}</b>: {{ user.points }}
  </li>
</ul>
